<div class="back">
    <div class="container pt-5 pb-5">
        <div class="text-center text-light pt-5">
            <h1>What our customers thinks</h1>
        </div>
        <div class="row mt-5">
            <div class="col-6 mb-5">
                <div class="flo">
                    <img src="../../../assets/avataaars.png" alt="error">
                </div>
                <div class="content mt-4 fw-bold">
                    <h2 class="text-light">john wick</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet quis natus explicabo commodi qui culpa voluptatibus voluptate perspiciatis non voluptates.</p>
                </div>
            </div>
            <div class="col-6">
                <div class="flo">
                    <img src="../../../assets/avataaars.png" alt="error">
                </div>
                <div class="content mt-4 fw-bold">
                    <h2 class="text-light">john wick</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet quis natus explicabo commodi qui culpa voluptatibus voluptate perspiciatis non voluptates.</p>
                </div>
            </div>
            <div class="col-6 mt-5 mb-5">
                <div class="flo">
                    <img src="../../../assets/avataaars.png" alt="error">
                </div>
                <div class="content mt-4 fw-bold">
                    <h2 class="text-light">john wick</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet quis natus explicabo commodi qui culpa voluptatibus voluptate perspiciatis non voluptates.</p>
                </div>
            </div>
            <div class="col-6 mt-5 mb-5">
                <div class="flo">
                    <img src="../../../assets/avataaars.png" alt="error">
                </div>
                <div class="content mt-4 fw-bold">
                    <h2 class="text-light">john wick</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet quis natus explicabo commodi qui culpa voluptatibus voluptate perspiciatis non voluptates.</p>
                </div>
            </div>
        </div>
    </div>
</div>
